{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Деление чисел {% endblock %}

{# основной контент: #}
{% block main %}
    {% if error %}
        <h1 class="center header8">{{ error }}</h1>
    {% else %}
        {% if error0 %}
            <h1 class="center header8">{{ error0 }}</h1>
        {% else %}
            <div class="list center division">
                <h1 class="header8">Деление чисел</h1>
                {{ x1 }} / {{ x2 }} = {{ result }}
            </div>
        {% endif %}
    {% endif %}
    <div class="center"><a href="/lab4/div-form">Вернуться ко вводу чисел</a></div>
{% endblock %}
