{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Лабораторная работа 4 {% endblock %}

{# основной контент: #}
{% block main %}
    <form class="list center exponentiation" method="post" action="/lab4/exponentiation">
        <h1 class="header3">Возведение числа в степень</h1>
        <input class="userinfo" type="number" name="x1"> ^ <input class="userinfo" type="number" name="x2">
        <input class="userinfo equal" type="submit" value="=">
    </form>
{% endblock %}
