{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Лабораторная работа 4 {% endblock %}

{# основной контент: #}
{% block main %}
    {% if authorized %}
        <h1 class="center header10">Добро пожаловать, {{ name }}!</h1>
        <div>
            <form action="/lab4/logout" method="post">
                <div class="center"><button class="userinfo entrance">Выход</button></div>
            </form>
        </div>
        <div class="center"><a href="/lab4/users">Посмотреть список пользователей</a></div>
    {% else %}
        <div class="list">
            <h1 class="header10 center">Вход</h1>
            <h2 class="center welcome">Пожалуйста, авторизуйтесь</h2>
            <form method="post">
                    <div>
                        <label for="name">Имя пользователя:</label>
                        <input class="userinfo aurhorized" type="text" id="name" name="name" value="{{ name or '' }}">
                    </div>
                    <div>
                        <label for="sex">Пол:</label>
                        <select class="userinfo aurhorized" name="sex">
                            <option {% if sex == 'мужской' %}selected{% endif %}>мужской</option>
                            <option {% if sex == 'женский' %}selected{% endif %}>женский</option>
                        </select>
                    </div>
                    <div>
                        <label for="login">Пользователь:</label>
                        <input class="userinfo aurhorized" type="text" id="login" name="login" value="{{ login or '' }}">
                    </div>
                    <div>
                        <label for="password">Пароль:</label>
                        <input class="userinfo aurhorized" type="password" id="password" name="password" value="{{ password or '' }}">
                    </div>
                    <div class="error">{{ error }}</div>
                    <div class="center">
                        <button class="userinfo entrance" type="submit">Войти</button>
                        <button class="userinfo entrance" type="reset">Отмена</button>
                    </div>
            </form>
        </div>
        <div class="center"><a href="/lab4/registration">Зарегистрироваться</a></div>
    {% endif %}
{% endblock %}
