{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Лабораторная работа 4 {% endblock %}

{# основной контент: #}
{% block main %}
    {% if authorized %}
        <h1 class="center header10">Добро пожаловать, {{ login }}!</h1>
        <div>
            <form action="/lab4/logout" method="post">
                <div class="center"><button class="userinfo entrance">Выход</button></div>
            </form>
        </div>
    {% else %}
        <div class="list">
            <h1 class="header10">Вход</h1>
            <h2>Пожалуйста, авторизуйтесь</h2>
            <form method="post">
                    <div>
                        <label for="login">Пользователь:</label>
                        <input class="userinfo aurhorized" type="text" id="login" name="login">
                    </div>
                    <div>
                        <label for="password">Пароль:</label>
                        <input class="userinfo aurhorized" type="text" id="password" name="password">
                    </div>
                    <div>{{ error }}</div>
                    <div>
                        <button class="userinfo entrance" type="submit">Войти</button>
                        <button class="userinfo entrance" type="reset">Отмена</button>
                    </div>
            </form>
        </div>
    {% endif %}
{% endblock %}
