{% extends "base.html" %}

{% block lab %}  Лабораторная работа 9 {% endblock %}

{% block main %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/static/lab9/snowflakes.png');
            background-size: 100%;
        }
    </style>
    <h1 class="header13 center">Ввод возраста</h1>
    <div class="list NY">
        <form method="post">
            <label for="age">Введите ваш возраст:</label>
            <input class="userinfo" type="number" id="age" name="age" required>
            <input class="userinfo" type="submit" value="Далее">
        </form>
    </div>
{% endblock %}
