{% extends "base.html" %}

{% block lab %}  Лабораторная работа 9 {% endblock %}

{% block main %}
    <style>
        div {
            margin: 0;
            padding: 0;
            background-image: url('/static/lab9/snowflakes.png');
            background-size: 100%;
        }
    </style>
    <div class="newyear">
        <h1 class="header13 center">Поздравление</h1>
        <div class="list NY">
            <form method="post">
                <label for="name">Введите ваше имя:</label>
                <input class="userinfo newyear" type="text" id="name" name="name" required>
                <input class="userinfo newyear" type="submit" value="Далее">
            </form>
        </div>
    </div>
{% endblock %}
