{% extends "base.html" %}

{% block lab %}  Лабораторная работа 9 {% endblock %}

{% block main %}
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('/static/lab9/snowflakes.png');
            background-size: 100%;
        }
    </style>
    <h1 class="header13 center">Ваши предпочтения</h1>
    <div class="list NY">
        <form method="post">
            <label for="preference">Что вам больше нравится?</label>
            <select class="userinfo" id="preference" name="preference" required>
                <option value="вкусное">Что-то вкусное</option>
                <option value="красивое">Что-то красивое</option>
            </select>
            <input class="userinfo" type="submit" value="Далее">
        </form>
    </div>
{% endblock %}
