{% extends "base.html" %}

{% block main %}
<h1>Подбор предпочтений</h1>
<form method="post">
    {% if request.args.get('preference') == 'вкусное' %}
        <label for="sub_preference">Что-то сладкое или сытное?</label>
        <select id="sub_preference" name="sub_preference" required>
            <option value="сладкое">Сладкое</option>
            <option value="сытное">Сытное</option>
        </select>
    {% else %}
        <label for="sub_preference">Что-то красивое или практичное?</label>
        <select id="sub_preference" name="sub_preference" required>
            <option value="красивое">Красивое</option>
            <option value="практичное">Практичное</option>
        </select>
    {% endif %}
    <input type="submit" value="Далее">
</form>
{% endblock %}
