{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Лабораторная работа 5 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1 class="header8 center">База знаний</h1>
    <div class="center">Anonymous</div>
    <div class="register">
        <div class="article"><a href="/lab4/login">Вход</a></div>
        <div class="article"><a href="/lab4/register">Регистрация</a></div>
        <div class="article"><a href="/lab4/list">Список статей</a></div>
        <div class="article"><a href="/lab4/create">Создать статью</a></div>
    </div>
{% endblock %}
