{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Лабораторная работа 5 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1 class="header11 center">База знаний</h1>
    {% if login %}
        <div class="center">{{ login }}</div>
    {% else %}
        <div class="center">Anonymous</div>
    {% endif %}
    <div class="center">
        <div class="article article8"><a href="/lab5/login">Вход</a></div>
        <div class="article article8"><a href="/lab5/register">Регистрация</a></div>
        <div class="article article8"><a href="/lab5/list">Список статей</a></div>
        <div class="article article8"><a href="/lab5/create">Создать статью</a></div>
        <div class="article article8 knowledge6"><a href="/lab5/users">Список пользователей</a></div>
        <div class="article article8"><a href="/lab5/favorite_articles">Любимые статьи</a></div>
        <div class="article article8"><a href="/lab5/public_articles">Публичные статьи</a></div>
    </div>
    </div>
    {% if users %}
        <div class="list knowledge6">
            <h1 class="header11 center forheader">Зарегистрированные пользователи</h1>
            <ul>
                {% for user in users %}
                    <li>{{ user['login'] }}</li>
                {% endfor %}
            </ul>
        </div>
    {% else %}
        <div class="list knowledge6">
            <h2 class="header11 center">Пользователи не найдены</h2>
        </div>
    {% endif %}
{% endblock %}
