<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Цветы</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <div class="list flowers">
            <h1 class="newflower">Всего цветов: {{ flower_list|length }}</h1>
            <div>Полный список:</div>
            <ul>
                {% for fl in flower_list %}
                <li>{{ fl }}</li>
                {% endfor %}
            </ul>
            <div><a href="/lab2/add_flower/">Добавить цветок</a></div>
            <div><a href="/lab2/clean_flowers/">Очистить список</a></div>
        </div>
    </body>
</html>