{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Лабораторная работа 2 {% endblock %}

{# основной контент: #}
{% block main %}
    <div class="center lineheight">
        <h1 class="header2">Шаблоны</h1>
        Тема лабораторной работы - шаблоны. Список сделанных страниц:
    </div>
    <div class="list lab2">  
        <ol>
            <li>
                <a href="/lab2/example">Example</a>
            </li>
            <li>
                <a href="/lab2/a">Без слэша</a>
            </li>
            <li>
                <a href="/lab2/a/">Со слэшем</a>
            </li>
            <li>
                <a href="/lab2/flowers/0">Номер цветка</a>
            </li>
            <li>
                <a href="/lab2/add_flower/">Добавление цветка</a>
            </li>
            <li>
                <a href="/lab2/all_flowers/">Полный список цветов</a>
            </li>
            <li>
                <a href="/lab2/clean_flowers/">Очистка списка цветов</a>
            </li>
            <li>
                <a href="/lab2/filters">Фильтры</a>
            </li>
            <li>
                <a href="/lab2/calc/">Математические операции с двумя числами</a>
            </li>
            <li>
                <a href="/lab2/books">Книги</a>
            </li>
            <li>
                <a href="/lab2/butterfly">Бабочки</a>
            </li>
        </ol>
    </div>
{% endblock %}
