{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  РГЗ {% endblock %}

{# основной контент: #}
{% block main %}
    <div class="center">
        <div class="booklist">
            <h1 class="booklogo">Каталог книг</h1>
            {% if login %}
                <div>{{ login }}</div>
            {% else %}
                <div>Anonymous</div>
            {% endif %}
        </div>
        <div class="booklist">
            <div class="booklink"><a class="booklinks" href="/rgz/login">Вход</a></div>
            <div class="booklink"><a class="booklinks" href="/rgz/register">Регистрация</a></div>
            <div class="booklink bookactive"><a class="booklinks" href="/rgz/books">Список книг</a></div>
            {% if current_user.login == 'Admin' %}
                <div class="booklink"><a class="booklinks" href="/rgz/add_book">Добавить книгу</a></div>
            {% endif %}
        </div>
        <div class="booklist">
            <img class="bookimg" src="{{ url_for('static', filename='rgz/book.png') }}">
        </div>
    </div>
    <div class="center">
        <form method="get" action="{{ url_for('rgz.book_list') }}">
            <div class="inline">
                <input class="userinfo bookinput" type="text" name="title" placeholder="Название книги" value="{{ request.args.get('title') or '' }}">
            </div>
            <div class="inline">
                <input class="userinfo bookinput" type="text" name="author" placeholder="Автор" value="{{ request.args.get('author') or '' }}">
            </div>
            <div class="inline">
                <input class="userinfo bookinput" type="text" name="publisher" placeholder="Издательство" value="{{ request.args.get('publisher') or '' }}">
            </div>
            <div class="inline">
                <input class="userinfo bookinput" type="number" name="pages_min" placeholder="Мин. страницы" value="{{ request.args.get('pages_min') }}">
            </div>
            <div class="inline">
                <input class="userinfo bookinput" type="number" name="pages_max" placeholder="Макс. страницы" value="{{ request.args.get('pages_max') }}">
            </div>
            <div class="inline">
                <input class="userinfo bookbutton" type="submit" value="Фильтровать">
            </div>
        </form>
    </div>

    {% for book in books %}
        <div class="bookcover">
            <div><img class="cover" src="{{ book.cover_image }}"></div>
            <div class="lineheight textbook">
                <span class="bookname">{{ book.title }}</span><br>
                Автор: {{ book.author }}<br>
                Количество страниц: {{ book.pages }}<br>
                Издательство: {{ book.publisher }}
            </div>
            {% if current_user.login == 'Admin' %}
                <form action="{{ url_for('rgz.delete_book', book_id=book.id) }}" method="post" style="display:inline;">
                    <button class="userinfo bookbutton" type="submit">Удалить</button>
                </form>
                <a class="edit bookbutton bookdecoration" href="{{ url_for('rgz.edit_book', book_id=book.id) }}">Редактировать</a>
            {% endif %}
        </div>
    {% else %}
        <h2 class="center bookname">Нет книг для отображения</h2>
    {% endfor %}

    <div class="center">
        {% if books.has_prev %}
            <a class="edit bookinput bookdecoration inline" href="{{ url_for('rgz.book_list', page=books.prev_num) }}">Назад</a>
        {% endif %}
        {% if books.has_next %}
            <a class="edit bookinput bookdecoration inline" href="{{ url_for('rgz.book_list', page=books.next_num) }}">Далее</a>
        {% endif %}
    </div>
{% endblock %}
