{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %} РГЗ {% endblock %}

{# основной контент: #}
{% block main %}
    <div class="center">
        <div class="booklist">
            <h1 class="booklogo">Каталог книг</h1>
            {% if login %}
                <div>{{ login }}</div>
            {% else %}
                <div>Anonymous</div>
            {% endif %}
        </div>
        <div class="booklist">
            <div class="booklink"><a class="booklinks" href="/rgz/login">Вход</a></div>
            <div class="booklink"><a class="booklinks" href="/rgz/register">Регистрация</a></div>
            <div class="booklink bookactive"><a class="booklinks" href="/rgz/books">Список книг</a></div>
            {% if current_user.login == 'Admin' %}
                <div class="booklink"><a class="booklinks" href="/rgz/add_book">Добавить книгу</a></div>
            {% endif %}
        </div>
        <div class="booklist">
            <img class="bookimg" src="{{ url_for('static', filename='rgz/book.png') }}">
        </div>
    </div>
    <h2 class="header14 center">Редактирование книги</h2>
    <div class="list bookinput">
        <form method="post">
            <div>
                <label>
                    Название книги:
                    <input class="userinfo" type="text" maxlength="100" name="title" value="{{ book.title }}" required>
                </label>
            </div>

            <div>
                <label>
                    Автор:
                    <input class="userinfo" type="text" maxlength="50" name="author" value="{{ book.author }}" required>
                </label>
            </div>

            <div>
                <label>
                    Количество страниц:
                    <input class="userinfo" type="number" name="pages" value="{{ book.pages }}" required>
                </label>
            </div>

            <div>
                <label>
                    Издательство:
                    <input class="userinfo" type="text" maxlength="50" name="publisher" value="{{ book.publisher }}" required>
                </label>
            </div>

            <div>
                <label>
                    Обложка (URL):
                    <input class="userinfo" type="text" maxlength="200" name="cover_image" value="{{ book.cover_image }}">
                </label>
            </div>

            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <div class="center">
                <button class="userinfo forbutton" type="submit">Сохранить изменения</button>
            </div>
        </form>
    </div>
{% endblock %}