{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  РГЗ {% endblock %}

{# основной контент: #}
{% block main %}
    <div class="center">
        <div class="booklist">
            <h1 class="booklogo">Каталог книг</h1>
            {% if login %}
                <div>{{ login }}</div>
            {% else %}
                <div>Anonymous</div>
            {% endif %}
        </div>
        <div class="booklist">
            <div class="booklink bookactive"><a class="booklinks" href="/rgz/login">Вход</a></div>
            <div class="booklink"><a class="booklinks" href="/rgz/register">Регистрация</a></div>
            <div class="booklink"><a class="booklinks" href="/rgz/books">Список книг</a></div>
            {% if current_user.login == 'Admin' %}
                <div class="booklink"><a class="booklinks" href="/rgz/add_book">Добавить книгу</a></div>
            {% endif %}
        </div>
        <div class="booklist">
            <img class="bookimg" src="{{ url_for('static', filename='rgz/book.png') }}">
        </div>
    </div>
    <h1 class="header14 center">Вход в систему</h1>
    <div class="list bookinput">
        <form action="/rgz/login" method="post">
            <div>
                <label>
                    Логин: <input class="userinfo" type="text" name="login">
                </label>
            </div>

            <div>
                <label>
                    Пароль: <input class="userinfo" type="password" name="password">
                </label>
            </div>

            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}

            <div class="center"><button class="userinfo forbutton" type="submit">Вход</button></div>
        </form>
    </div>
{% endblock %}