{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  РГЗ {% endblock %}

{# основной контент: #}
{% block main %}
    <h1 class="header8 center">База знаний</h1>
    {% if login %}
        <div class="center">{{ login }}</div>
    {% else %}
        <div class="center">Anonymous</div>
    {% endif %}
    <div class="center">
        <div class="article article6"><a href="/rgz/login">Вход</a></div>
        <div class="article article6"><a href="/rgz/register">Регистрация</a></div>
        <div class="article article6"><a href="/rgz/books">Список книг</a></div>
        {% if current_user.login == 'Admin' %}
            <div class="article article6 knowledge4"><a href="/rgz/add_book">Добавить книгу</a></div>
        {% endif %}
    </div>
    {% if message %}
        <div class="list knowledge">
            <h2 class="header8 center forheader">{{ message }}</h2>
        </div>
        <div class="center"><div class="article article2"><a href="/rgz/logout">Выйти</a></div></div>
    {% else %}
        <div class="list knowledge">
            <h1 class="header8 center">Регистрация</h1>
            <form action="/rgz/register" method="post">
                <div>
                    <label>
                        Логин: <input class="userinfo" type="text" name="login">
                    </label>
                </div>

                <div>
                    <label>
                        Пароль: <input class="userinfo" type="password" name="password">
                    </label>
                </div>

                {% if error %}
                    <div class="error">{{ error }}</div>
                {% endif %}

                <div class="center"><button class="userinfo forbutton" type="submit">Зарегистрироваться</button></div>
            </form>
        </div>
    {% endif %}
{% endblock %}
