{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  РГЗ {% endblock %}

{# основной контент: #}
{% block main %}
    <h1 class="header3 center">База знаний</h1>
    {% if login %}
        <div class="center">{{ login }}</div>
    {% else %}
        <div class="center">Anonymous</div>
    {% endif %}
    <div class="center">
        <div class="article article6"><a href="/rgz/login">Вход</a></div>
        <div class="article article6"><a href="/rgz/register">Регистрация</a></div>
        <div class="article article6"><a href="/rgz/books">Список книг</a></div>
        {% if current_user.login == 'Admin' %}
            <div class="article article6 knowledge4"><a href="/rgz/add_book">Добавить книгу</a></div>
        {% endif %}
    </div>
    <div class="list knowledge1">
        <h1 class="header3 center">Добро пожаловать, {{ login }}!</h1>
        <h3 class="welcome center">Вы успешно вошли в свой аккаунт</h3>
    </div>
    <div class="center"><div class="article article3"><a href="/rgz/logout">Выйти</a></div></div>
{% endblock %}
