{% extends "base.html" %}

{# номер лабораторной работы: #}
{% block lab %}  Лабораторная работа 8 {% endblock %}

{# основной контент: #}
{% block main %}
    <h1 class="header8 center">База знаний</h1>
    <div class="center">Anonymous</div>
    <div class="center">
        <div class="article article2"><a href="/lab8/login">Вход</a></div>
        <div class="article article2 knowledge"><a href="/lab8/register">Регистрация</a></div>
        <div class="article article2"><a href="/lab8/articles">Список статей</a></div>
        <div class="article article2"><a href="/lab8/create">Создать статью</a></div>
        <div class="article article2"><a href="/lab8/users">Список пользователей</a></div>
        <div class="article article2"><a href="/lab8/favorite_articles">Любимые статьи</a></div>
        <div class="article article2"><a href="/lab8/public_articles">Публичные статьи</a></div>
    </div>
    <div class="list knowledge">
        <h1 class="header8 center">Поздравляем, {{ login }}!</h1>
        <h3 class="welcome center">Регистрация прошла успешно, можете войти в ваш аккаунт</h3>
    </div>
{% endblock %}
